<li>
    <%= link_to user.name + ", ID: " + 
                        user.idnum + ", Mobile Number: (" + user.mobilenum[0...3] + ")-" +
                        user.mobilenum[3...6] + "-" + user.mobilenum[6...10] + ", Bus: " + user.busnum.to_s + 
                        ", Seat: " + user.seatnum.to_s, user %>
    
    <!--admins can delete users and not other admins                    -->
    <% if current_user && current_user.admin? && !current_user?(user) && !user.admin?%>
        | <%= link_to "Delete", user, method: :delete,
                                        data: { confirm: "Are you sure?" } %>
        | <%= link_to "Edit", edit_user_path(user) %>
    <% end %>  
</li>