<li>
    <%= link_to user.name + ", ID: " + 
                        user.idnum + ", Mobile Number: (" + user.mobilenum[0...3] + ")-" +
                        user.mobilenum[3...6] + "-" + user.mobilenum[6...10], user %>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                        data: { confirm: "Are you sure?" } %>
    <% end %>  
</li>