<div id="bus">
    <h2 class="bus-num-text">
        <%= bus.busnum %>
    </h2>
    <%= link_to bus do %>
        <% if bus.get_users.length == 41%>
            <span id="bus-filter">
                <h1>Bus Full</h1>
                <%= image_tag("bus.png") %>
            </span>
        <% else %>
            <%= image_tag("bus.png") %>
        <% end %>
    <% end %>
</div>