<% provide(:title, @bus.number.to_s) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                Bus #<%= @bus.number %>
            </h1>
        </section>
    </aside>
</div>

<span id="front-indicator">Front</span>
<span id="back-indicator">Back</span>
<br><br>
<div class="grid-container">
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>  
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>  
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div> 
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>  
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>  
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
</div>

<div class="grid-container-single">
   <div class="grid-item-single">#</div> 
</div>

<div class="grid-container">
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
  <div class="grid-item">#</div>
</div>